<div class="full">
{{!-- <div class="col-md-7 col-xs-12 col-md-offset-2"> --}}
  <div class="panel" id="chat">
    <div class="panel-heading">
      <h1 class="panel-title text-center">
        pi!=3.14
      </h1>
    </div>

     {{#bot-app}}{{/bot-app}}
  </div>
</div>
{{!-- </div> --}}

{{outlet}}